
.advantages-row{
    position: relative;
    padding: 51px 78px 36px;
    border-radius: 46px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 1029px;
    margin: 0 auto;
    
    .accent-label-sm{
        top:-60px;
        left: -60px;
    }

    &::before{
        --size: 750px;
        @include template-light;
        background-image: url("./assets/img/decorate-advantages-accent.png");
        width: var(--size);
        height: var(--size);
        left: 100px;
        top: 140px;   
    }

    &::after{
        --size: 600px;
        @include template-light;
        background-image: url("./assets/img/decorate-advantages-light.png");
        width: var(--size);
        height: var(--size);
        left: 100%;
        top: 100%;   
    }
}

.advantagr__description{
    color: #292c2d;
}

.advantage{
    max-width: 228px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img-box{
        position: relative;
        --size: 148px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
        margin-bottom: 12px;

        @extend .gradient-background;

        img{
            max-width: 220px;
            max-height: 220px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &__title{
        z-index: 1;
    }
}