.banner{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-content{
        max-width: 580px;
    }

    .template-title{
        margin-bottom: 54px;
		&::before{
            @include template-light;
            background: url("./assets/img/decorate__banner-light-title.png") center no-repeat;
            width: 574px;
            height: 574px;
			left: 0px;
			top: -200px;
			transform: none;
        }
    }

    .template-description{
        max-width: 580px;
    }

    &-btn-group{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 54px;
        position: relative;
        &::before{
            @include template-light;
            background-image: url("./assets/img/decorate__banner-light-btn-group.png");
            width: 603px;
            height: 603px;
			left: 80px;
			top: -210px;
			transform: none;
        }
    }

    &-statistics{
        display: flex;
        gap: 46px;
    }

    &-statistic-item{
        width: 126px;
    }

    &-statistic__title{
        font-size: 62px;
        color: $title-color;
    }

    &-statistic__description{
        font-size: 20px;
        color: $text;
        font-weight: 400;
    }

    .accent-label{
        top: -15px;
        right: 38px;
    }

    &-img{
        margin-right: 43px;
        position: relative;

        img{
            position: relative;
            z-index: -2;
        }

        &::before{
            @include template-light;
            background-image: url("./assets/img/decorate__banner-light-img.png");
            width: 479px;
            height: 479px;
            left: -140px;
            top: 160px;
            transform: translate(0, -50%);
            z-index: -2;
        }

        &::after{
            @include template-light;
            background-image: url("./assets/img/decorate__banner-light-img-md.png");
            width: 676px;
            height: 676px;
            left: -50px;
            top: calc(100% - 115px);
            transform: translate(0, -50%);
            z-index: -3;
        }

    }

    &-line{
        width: 1078px;
        height: 677px;
        position:absolute;
        top: 188px;
        right: -470px;
        z-index: -3;
    }
}