
.overlay{
    background: #0000002f;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    height: 0;
    width: 0;

    transition: .3s ;
    
    &.show{
        height: 100vh;
        width: 100vw;
    }
}

.modal{
    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 0);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 24px;
    backdrop-filter: blur(15px);
    visibility: hidden;
    opacity: 0;
    transition: .5s;

    &.show{
        opacity: 1;
        visibility: visible;
    }
    
    h3{
        text-align: center;
    }

    &-content{
        color: #fff;
        margin-bottom: 16px;
    }

    .btn{
        font-size: 16px;
        padding: 5px 7px;
    }
}
