@media screen and (max-width: 575.99px) {
    .banner{
        .banner-line{
            left: 7vw;
            bottom: -60vw;
        }
    }

    .we-make{
        .accent-label-sm{
            right: 10px;
            top: 112px;
        }
    }

    .modal{
        .modal-content{
            h3{
                padding-top: 10px;
                font-size: 18px;
            }
        }
    }
}
