@media screen and (max-width: 1199.99px) {
    .advantages-row{    
        .accent-label-sm{
            top:-60px;
            left: 0px;
        }
    }

    .footer-nav{
        max-width: 650px;
    }
}