<section class="advantages">
    <div class="container">
        <div class="advantages-row white-wrapper">
            <div class="accent-label-sm">we have</div>
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="./assets/img/advantage-1.png" alt="advantage">
                </div>
                <h3 class="advantage__title">Tasty</h3>
                <h6 class="advantage__description">We have the most delicious coffee</h6>
            </div>
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="./assets/img/advantage-2.png" alt="advantage">
                </div>
                <h3 class="advantage__title">Fast</h3>
                <h6 class="advantage__description">Our cafe will serve you quickly</h6>
            </div>
            <div class="advantage">
                <div class="advantage__img-box">
                    <img src="./assets/img/advantage-3.png" alt="advantage">
                </div>
                <h3 class="advantage__title">Available</h3>
                <h6 class="advantage__description">Cafe will serveat the most pleasant prices</h6>
            </div>
        </div>
    </div>
</section>