<footer class="footer">
	<div class="container">
		<div class="footer-row">
			<a href="index.html" class="footer__logo">
				<img src="./assets/img/starbucks.svg" alt="footer-logo">
				

			</a>

			<nav class="footer-nav">
				<div class="footer-nav__column">
					<h3 class="footer-nav__title">Main</h3>
					<ul class="footer-nav__list">
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">Buy</a>
						</li>
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">More</a>
						</li>
					</ul>
				</div>

				<div class="footer-nav__column">
					<h3 class="footer-nav__title">We make</h3>
					<ul class="footer-nav__list">
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">Process</a>
						</li>
					</ul>
				</div>

				<div class="footer-nav__column">
					<h3 class="footer-nav__title">Products</h3>
					<ul class="footer-nav__list">
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">Cappuccino</a>
						</li>
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">Fast</a>
						</li>
					</ul>
				</div>

				<div class="footer-nav__column">
					<h3 class="footer-nav__title">Events</h3>
					<ul class="footer-nav__list">
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">Drinks</a>
						</li>
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">Eat</a>
						</li>
					</ul>
				</div>

				<div class="footer-nav__column">
					<h3 class="footer-nav__title">Contacts</h3>
					<ul class="footer-nav__list">
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">Instagram</a>
						</li>
						<li class="footer-nav__list">
							<a href="#" class="footer-nav__link">Number</a>
						</li>
					</ul>
				</div>
			</nav>

			<a href="#header" class="btn btn-outline">
				<svg>
					<use href="#icon-arrow"></use>
				</svg>
			</a>
		</div>

		<address class="footer-contacts  g-3">
			<nav class="footer-phones">
				<a href="tel:+390999999999" class="footer-phones__item">+3-999-999-99-99</a>
			</nav>

			<nav class="footer-social">
				<a href="#" class="footer-social__item">
					<img src="./assets/img/icon-instagram.svg" alt="instagram">
				</a>
			</nav>
		</address>
	</div>
</footer>
<svg class="svg-sprite">
	<symbol id="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 37" fill="none">
		<path d="M5.25 36.1074C5.25 36.5216 5.58579 36.8574 6 36.8574C6.41421 36.8574 6.75 36.5216 6.75 36.1074L5.25 36.1074ZM6.53033 0.577091C6.23744 0.284199 5.76256 0.284199 5.46967 0.577091L0.6967 5.35006C0.403807 5.64296 0.403807 6.11783 0.6967 6.41072C0.989594 6.70361 1.46447 6.70361 1.75736 6.41072L6 2.16808L10.2426 6.41072C10.5355 6.70362 11.0104 6.70362 11.3033 6.41072C11.5962 6.11783 11.5962 5.64296 11.3033 5.35006L6.53033 0.577091ZM6.75 36.1074L6.75 1.10742L5.25 1.10742L5.25 36.1074L6.75 36.1074Z" fill="url(#paint0_linear_44_125)"/>
		<defs>
			<linearGradient id="paint0_linear_44_125" x1="6.65407" y1="1.10742" x2="18.2758" y2="7.89991" gradientUnits="userSpaceOnUse">
				<stop stop-color="#237249"/>
				<stop offset="1" stop-color="#35C66B"/>
			</linearGradient>
		</defs>
	</symbol>
	
	<symbol id="icon-triangl" width="28" height="28" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M2 4.45705V19.6911C2 21.1952 3.59793 22.1611 4.92967 21.4619L18.7788 14.1911C20.1752 13.458 20.2133 11.4726 18.8461 10.6865L4.99694 2.72324C3.66361 1.95658 2 2.91902 2 4.45705Z" stroke="white" stroke-width="3"/>
	</symbol>
	<symbol id="icon-pause" width="28" height="28" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M2 19.8739V4.04094C2 2.92051 2.92032 2.01865 4.04052 2.04135L8.21664 2.12597C9.29759 2.14787 10.1654 3.02486 10.176 4.10598L10.3311 19.94C10.3421 21.0677 9.41911 21.9816 8.29159 21.9592L3.96042 21.8735C2.87149 21.852 2 20.963 2 19.8739Z" stroke="white" stroke-width="3"/>
		<path d="M15.9836 19.8739V4.04094C15.9836 2.92051 16.904 2.01865 18.0242 2.04135L22.2003 2.12597C23.2812 2.14787 24.1491 3.02486 24.1597 4.10598L24.3147 19.94C24.3258 21.0677 23.4028 21.9816 22.2752 21.9592L17.9441 21.8735C16.8551 21.852 15.9836 20.963 15.9836 19.8739Z" stroke="white" stroke-width="3"/>
	</symbol>
	<symbol id="icon-stop" width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M2 20V4C2 2.89543 2.89543 2 4 2H20C21.1046 2 22 2.89543 22 4V20C22 21.1046 21.1046 22 20 22H4C2.89543 22 2 21.1046 2 20Z" stroke="white" stroke-width="3"/>
	</symbol>
</svg>
@@include('modal.html')
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>