<section class="products">
    <div class="container">
        <div class="products-title-wrapper">
            <h2 class="template-title">New Our <span class="gradient-text">Products</span></h2>
            <h6 class="template-description">Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!  Starbucks coffee and don't forget about the discount!</h6>
        </div>
    </div>

    <div class="carousel-wrapper">
        <div class="swiper swiper-product">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-1.png" alt="starbuks-cup">
                        </div>
                        <h3 class="product-title">Espresso</h3>
                        <h6 class="product-description">Our cafe will serve you quickly</h6>
                        <div class="product-value">
                            <div class="product-price">7,45$</div>
                            <div class="product-volume">110ml</div>
                        </div>
                        <a href="" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-2.png" alt="starbuks-cup">
                        </div>
                        <h3 class="product-title">Latte</h3>
                        <h6 class="product-description">Our cafe will serve you quickly</h6>
                        <div class="product-value">
                            <div class="product-price">8,25$</div>
                            <div class="product-volume">350ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-3.png" alt="starbuks-cup">
                        </div>
                        <h3 class="product-title">Flat White</h3>
                        <h6 class="product-description">Our cafe will serve you quickly</h6>
                        <div class="product-value">
                            <div class="product-price">9,50$</div>
                            <div class="product-volume">330ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-4.png" alt="starbuks-cup">
                        </div>
                        <h3 class="product-title">Cappuccino</h3>
                        <h6 class="product-description">Our cafe will serve you quickly</h6>
                        <div class="product-value">
                            <div class="product-price">8,25$</div>
                            <div class="product-volume">350ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product-img">
                            <img src="./assets/img/product-2.png" alt="starbuks-cup">
                        </div>
                        <h3 class="product-title">Fast</h3>
                        <h6 class="product-description">Our cafe will serve you quickly</h6>
                        <div class="product-value">
                            <div class="product-price">7,45$</div>
                            <div class="product-volume">110ml</div>
                        </div>
                        <a href="#" class="btn btn-primary">Buy Product</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-navigation">
            <div class="swiper-button-prev btn btn-outline">
                <svg>
                    <use href="#icon-arrow"></use>
                </svg>
            </div>
            <div class="swiper-button-next btn btn-outline">
                <svg>
                    <use href="#icon-arrow"></use>
                </svg>
            </div>
        </div>
    </div>
    
</section>